/* Global */
:root {
  /* Color */
  --color-dark-white: #f2f2f2;
  --color-grey: #a6a6a6;
  --color-dark-orange: #d9863d;
  --color-light-orange: #f2a341;
  --color-orange: #f29f05;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
}

/* Univerasl tags */
* {
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* 임의 등록  */
#navbar__logo {
  width: 25px;
  height: 25px;
}

.home__avatar {
  max-width: 40%;
}
.job__logo {
  max-width: 10%;
}
